body{
  background: white;
  margin: 0 auto;
  text-align: center;
}


.tabla{
  border-top: black 1px solid;
}
/* Aqui empieza el header*/

body > header{
  text-align: left;
  background: #F3DA0B;
  padding-left: 10vw;
  height: 15vh;
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.63);
  text-shadow: 4px -2px 5px rgba(124, 130, 126, 1);
}

header img{
  height: 100%;
  display: inline-block;
}


header h1{
  position: absolute;
  display: inline;
  font-size: 30px;
  right: 10%;
  bottom: 17px;
    font-family: 'Michroma', sans-serif;
    
}

/* Aqui termina el header*/

/* Aqui empieza el section con la foto*/
.foto{
  z-index: 1;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.63);

}

/* Aqui termina el section con la foto*/

/*article{
    font-family: 'Michroma', serif;
}*/
h2{
    font-family: 'Michroma', sans-serif;
	font-size: 2.5em;
}
p{
    font-family: 'Michroma', sans-serif;
	font-size: 1em;
}
.tabla{
    text-align:left;
    border:2px solid lightgray;
    background-color:lightgray;
    font-family: 'Tinos', serif;
}
main article{
      padding-top: 1em;
  padding-left: 4%;
  padding-right: 4%;
	font-family: 'Michroma', serif;
}

main > p{
    font-family: 'Michroma', sans-serif;
    font-weight:bold;
}
.tabla article{
	font-family: 'verdana', sans-serif;
    display:inline-block;
    padding:10px;
    margin-left:10px;
    margin-bottom:5px;
    width:70%;
      padding-top: 1em;
  padding-left: 4%;
  padding-right: 4%;
}
footer{
  margin: 0 auto;
  width: 100%;
  height: 10%;
  background-color: black;
  padding-top: 0.6%;
  padding-left: 10%;
  color: white;
  text-align: left;
}

footer p{
  display: inline-block;
  margin-left: 5%;
}

footer h3{
  display: inline-block;
  font-family: 'Tinos', serif;


}

footer a{
  color: red;
}

footer a:hover{
  color: red;
}
footer img{
  width: 3.5%;
}
/* Aqui empieza el NAV */


nav{
  margin-left: 0;
  height: 30%;
  width: 15%;
  position: fixed;
  top: 35%;
}

nav ul{
  margin-left: 0;
  list-style: none;
}

nav li{
  text-align: left;
  height: 40px;
  width: 130px;
  background: yellow;
  padding-left: 8px;
  margin-top: 10px;
  position: relative;
  transform:translateX(-140px);
  transition: 1s;
  font-size: 20px;
  border: 2px solid black;
}

nav li:first-child{
  width: 100px;
  transform:translateX(-110px);

}

nav a{
	font-family: 'Tinos', serif;
	font-size:20px;
	color: black;
}
nav a:hover{
	color:black;
}

nav i{
  color: black;
  margin-left: 10px;
  position: absolute;
  right: 6px;
  top: 6px;
}

nav li:hover{
  transform:translateX(-42px);
}


/* Aqui termina el NAV */

/* aqui el capi del equipo
   esto de abajo es la parte con las especificaciones y imagenes(no lo comentaron ellos T_T)
*/
.motor{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/motor.png");
    background-repeat: no-repeat;
    background-position: right;
}
.rendimiento{
     z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/speed.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dimension{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/height.png");
    background-repeat: no-repeat;
    background-position: right;
}
.co2{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/CO2.png");
    background-repeat: no-repeat;
    background-position: right;
}
.trofeo{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/trofeo.png");
    background-repeat: no-repeat;
    background-position: right;
    height:200px;
    width:200px;
}

@media screen and (max-width: 600px) {
    .co2, .trofeo, .dimension, .rendimiento, .motor{
    background:lightgray;
    }
 header  h1{
   visibility: hidden;
  }
  nav{
    visibility: hidden;
   }
    body > header{
        text-align: center;
        padding-right: 5%;
    }
}
main h2{
    margin-top:1%;
}
