body{
  background: white;
  margin: 0 auto;
  text-align: center;
}

/* HEADER */

body > header{
  text-align: left;
  background: #F3DA0B;
  padding-left: 10vw;
  height: 15vh;
  width: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.63);
  text-shadow: 4px -2px 5px rgba(124, 130, 126, 1);
}

header img{
  height: 100%;
  display: inline-block;
}

header h1{
  position: absolute;
  display: inline;
  font-size: 30px;
  right: 10%;
  bottom: 17px;
  font-family: 'Michroma', sans-serif;
}

/* BANNER */
.foto{
  z-index: 1;
  width: 100%;
  height: auto;
  box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.63);
}

/* ALINEACION NOMBRE, MODELO Y ARTICULO */
main h2{
	margin-top: 1%;
	text-align: center;
	font-family: 'Michroma';
}

main h3{
	 text-align: center;
	font-size: 1.3em;
}
.subtitulo{
	text-align: center;
}

h2{
	font-family: 'Michroma', sans-serif;
	font-size: 2.5em;
}

p{
  font-family: 'Michroma', sans-serif;
	font-size: 1em;
}

/* MAIN E HIJOS */
main{
	width: 80%;
	margin: 0 auto;
}

main article{
  padding-top: 1em;
  padding-left: 4%;
  padding-right: 4%;
	font-family: 'Michroma', serif;
}

main > p{
  font-family: 'Michroma', sans-serif;
  font-weight:bold;
}

.tabla{
  border-top: black 1px solid;
}

.tabla{
  text-align:left;
  border:2px solid lightgray;
  background-color:lightgray;
  font-family: 'Tinos', serif;
}

.tabla h2{
	width: 100%;
	padding: 10px;
}

/* Aqui empieza el NAV

nav{
  margin-left: 0;
  height: 30%;
  width: 15%;
  position: fixed;
  top: 35%;
}

nav ul{
  margin-left: 0;
  list-style: none;
}

nav li{
  text-align: left;
  height: 40px;
  width: 130px;
  background: yellow;
  padding-left: 8px;
  margin-top: 10px;
  position: relative;
  transform:translateX(-140px);
  transition: 1s;
  font-size: 20px;
  border: 2px solid black;
}

nav li:first-child{
  width: 100px;
  transform:translateX(-110px);

}

nav a{
	font-family: 'Tinos', serif;
	font-size:20px;
	color: black;
}
nav a:hover{
	color:black;
}

nav i{
  color: black;
  margin-left: 10px;
  position: absolute;
  right: 6px;
  top: 6px;
}

nav li:hover{
  transform:translateX(-42px);
}
*/
/* Aqui termina el NAV */

/* aqui el capi del equipo
   esto de abajo es la parte con las especificaciones y imagenes(no lo comentaron ellos T_T)

.motor{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/motor.png");
    background-repeat: no-repeat;
    background-position: right;
}
.rendimiento{
     z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/speed.png");
    background-repeat: no-repeat;
    background-position: right;
}
.dimension{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/height.png");
    background-repeat: no-repeat;
    background-position: right;
}
.co2{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/CO2.png");
    background-repeat: no-repeat;
    background-position: right;
}
.trofeo{
    z-index: 100;
    margin:0 auto;
    background-image:url("../imagenes/trofeo.png");
    background-repeat: no-repeat;
    background-position: right;
    height:200px;
    width:200px;
}*/

/* MEDIA QUERY */

@media screen and (max-width: 600px) {
  header  h1{
    visibility: hidden;
  }

  nav{
    visibility: hidden;
  }

  body > header{
    text-align: center;
    padding-right: 5%;
  }

  .tabla h2{
  		font-size: 1.5em;
	}
}

/* FLECHA PARA VOLVER ARRIBA */
.fa-arrow-up, .volv{
	position: fixed;
	color: gold;
	bottom: 25px;
	right: 25px;
	opacity: .7;
	transition: all 1s;
	z-index: 10;
}

.fa-arrow-up:hover, .volv:hover{
	opacity: 1;
}

/* NAVEGACION POR TODOS LOS COCHES Y MODELOS */
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#coches{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

#coches  li{
	height: 150px;
	border: 1px solid rgba(10, 1, 10, 0.18);
	background-color: #ffffff3b;
	background-clip: padding-box;
	box-shadow: inset 0px 0px 300px -41px rgba(10,1,10,1);
	padding: 1%;
	transition: 2s;
	text-align: center;
	font-family: 'Michroma';
	margin: 1%;
}

#coches li:hover{
  background-color: #ffffff;
}

#coches li a{
  color: black;
}

#coches li a:hover {
    text-decoration: none;
    color: black;
}

#navegacion{
  margin: 0 auto;
  background-color: gray;
  width: 100%;
  height: auto;
}

#navegacion h3{
	padding: 10px;
	text-align: center;
}

li img{
	display: block;
	margin: 0 auto;
}

/* ACORDEON */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 1s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
  padding: 10px 18px;
  display: none;
  background-color: white;
  text-align: left;
}

/* FOOTER */

footer{
  margin: 0 auto;
  width: 100%;
  height: 10%;
  background-color: black;
  padding-top: 0.6%;
  padding-left: 10%;
  color: white;
  text-align: left;
}

footer p{
  display: inline-block;
  margin-left: 5%;
}

footer h3{
  display: inline-block;
  font-family: 'Tinos', serif;
}

footer a{
  color: red;
}

footer a:hover{
  color: red;
}
footer img{
  width: 3.5%;
}

.integrantes li{
	list-style: none;
}
